[diff]
	tool = gvimdiff
[core]
	autocrlf = false 
	editor = gvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Arnob Bhanja
	email = arnobbhanja@live.com
[merge]
	tool = fugitive
[mergetool]
	prompt = false
[alias]
        squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	lo = "log --oneline --no-merges -n 20"
	pick = "!g(){ git cherry-pick {1} -n; };g"
	sdf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[system "core"]
       longpaths = true
[mergetool "fugitive"]
	cmd = gvim -f -c \"Gdiff\" \"$MERGED\"
[color]
	ui = true
        status = always
        advice = always
        branch = always
        diff = always 
        grep = always
        interactive = always
        pager = true
        push = always
        remote = always 
        showBranch = always
        transport = always
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
	changeHunkIndicators = false
	markEmptyLines = false
	useUnicodeRuler = false
	rulerWidth = 47
	first-run = false
